<header class="pageHeader">
  <h3><i class="fa fa-truck fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Products' | translate}}</h3>
</header>

<div [@fadeInOut]>
  <div class="row control-box">
    <div class="col-lg-8">
      <div class="search-box">
        <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'products.management.Search' | translate}}"></app-search-box>
      </div>
    </div>
    <div class="col-lg-4">
      <ul class="nav flex-row">
        <!-- <li [class.active]="hideCompletedproducts" class="nav-item toolbaritem">
          <a class="nav-link" href="javascript:;" (click)="hideCompletedproducts = !hideCompletedproducts"><i class="fa fa-eye-slash"></i> {{'todoDemo.management.HideCompleted' | translate}}</a>
        </li> -->
        <li class="nav-item toolbaritem" style="margin-left: 210px;">
          <a class="nav-link" href="javascript:;" (click)="addProduct()"><i class="fa fa-plus"></i> {{'products.management.AddProduct' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>

  <ngx-datatable class="material colored-header sm table-hover"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="35"
                 [headerHeight]="37"
                 [footerHeight]="35"
                 [columns]="columns"
                 [scrollbarV]="verticalScrollbar"
                 [columnMode]="'force'"
                 [externalPaging]="true"
                 [count]="page.totalRecords"
                 [offset]="page.pageNumber"
                 [limit]="page.pageSize"
                 (page)="setPage($event)">
  </ngx-datatable>

  <div class="modal fade" bsModal #editorModal="bs-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title float-start"><i class="fa fa-products"></i> {{'products.editor.NewProduct' | translate}}</h5>
          <button type="button" class="btn-close fs-sm" title="Close" (click)="editorModal.hide()"></button>
        </div>
        <div class="modal-body">
          <form *ngIf="formResetToggle" name="productEditorForm" #f="ngForm" novalidate
                (ngSubmit)="f.form.valid ? save() :
                      (!productName.valid && showErrorAlert('Product name is required', 'Please enter a name for the product'));">


            <div class="mb-3 row">
              <label class="col-form-label col-md-3" for="productName">{{'products.editor.Name' | translate}}:</label>
              <div class="col-md-9">
                <input appAutofocus type="text" id="productName" name="productName" placeholder="Enter product name" class="form-control" [ngClass]="{'is-valid': f.submitted && productName.valid, 'is-invalid' : f.submitted && !productName.valid}"
                       [(ngModel)]="productEdit.name" #productName="ngModel" required />
                <span *ngIf="f.submitted && !productName.valid" class="invalid-feedback">
                  {{'products.editor.productNameRequired' | translate}}
                </span>
              </div>
            </div>

            <div class="mb-3 row description-form-group">
              <label class="col-form-label col-md-3" for="productDescription">{{'products.editor.Description' | translate}}:</label>
              <div class="col-md-9">
                <input type="text" id="productDescription" name="productDescription" placeholder="Enter product description" class="form-control" [(ngModel)]="productEdit.description" />
              </div>
            </div>

            <div class="row">
              <label class="col-form-label col-md-3"> </label>
              <div class="col-md-9">
                <div class="form-check">
                  <input class="form-check-input" id="isActive" name="isActive" type="checkbox" [(ngModel)]="productEdit.Active">
                  <label for="isImportant" class="form-check-label">{{'products.editor.Active' | translate}}</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <hr class="hr-separator" />
              </div>
            </div>

            <div class="float-end">
              <button type="submit" class="btn btn-primary">{{'products.editor.AddProduct' | translate}}</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
